*{
    margin: 0;
}

.footer{
    height: 50px;
    width: 100%;
    background-image: url(img/bg-footer.png);
}
.footer-content{
    width: 960px;
    height: 50px;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: auto;
}
.footer img{
    height: 30px;
    width: 30px;
    flex-direction: row;
    margin: 0px 0px 0px 10px;
}
.area1{
    width: 460px;
    font-size: small;
    float: left;
}
.area2{
    width: 460px;
    font-size: 25px;
}
.logo{
    float: right;
}