.box{
    background-color: #f1f1ef;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
}
.grid {
	display: grid;
	grid-gap: 20px;
}
.main {
    grid-template-columns: 1fr 1fr ;
    padding: 10px;
    width: 960px;
    margin: 20px auto;
    height : 100%;
}
.grid.left {
	grid-column: 1 / span 1;
	grid-auto-rows: 100%;
}
.grid.left .content{
    margin-bottom: 40px;
}
.grid.right {
	grid-column: span 1 / -1;
    grid-auto-rows: min-content;
}
.title {
    font-size: 24px;
    color: black;
}
.desc{
    font-size: 12px;
    color: #9b8d84;
}
.content{
    display: block;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.content p {
    margin-bottom: 1rem;
}