body {
    min-width: 960px;
    margin: 0;
}

img {
	border: 0;
}

*:not(.wraper) {
    box-sizing: content-box;
}

.wraper {
    width: 960px;
    margin: 0 auto;
}


.box2, 
.box2 > div {
	background-image: url(img/bg-sidebar.png);
	background-repeat: no-repeat;
}

.heading1{
    background-image: url(img/archive.png);
	height: 66px;
	line-height: 70px;
	width: 260px;
	margin: 0 -7px;
	text-align: center;
	text-shadow: 0 1px #fff;
}

#contents {
	padding-top: 30px;
}

#contents div.wraper:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}

h2, h3 {
	color: #2f2203;
    font-size: 24px;
    line-height: 24px;
    font-family: Abel-Regular;
	letter-spacing: 1px;
	margin-bottom: 6px;
	text-transform: uppercase;
}

h3 {
	font-size: 20px;
	margin: 0;
	text-transform: none;
}

p {
	color: #9b8d84;
    font-size: 12px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
	padding: 0 0 24px;
	margin: 0;
}
.main {
	float: left;
	width: 600px;
	margin: 0 30px 0 10px;
}

.list {
	list-style: none;
	margin: 18px 0;
	padding: 0;
}
.list li{
    background-image: url(img/comment.jpg);
}
.list li img {
	float: left;
	margin: 0 20px 0 10px;
}
.list li div {
	padding-left: 130px;
}

#blog {
	margin-bottom: 60px;
}
#blog .main {
	background: url(img/dash.png) repeat-y right top;
	min-height: 500px;
	width: 598px;
	margin: 0;
	padding: 0 22px 0 40px;
}
#blog .list li {
	background-position: left bottom;
	height: 194px;
	width: 540px;
	margin: 0 0 18px;
	padding: 20px 40px 10px 20px;
}
#blog .list li img {
	margin: 0 20px 0 0;
}
#blog .list li div {
	padding-left: 150px;
}
#blog .list li div p {
	letter-spacing: 1px;
	padding-bottom: 6px;
	border-bottom: 1px solid #e5e5e5;
}
#blog .list li div > span {
	color: #9b8d84;
	font: 12px/42px Arial, Helvetica, sans-serif;
}
#blog .list li div > span.views {
	float: right;
}
#blog .sidebar {
	float: right;
	width: 240px;
	padding: 0 40px 0 18px;
}

.box2 {
	background-position: right bottom;
	padding: 0 0 10px;
}
.box2 > div {
	background-position: left top;
	background-repeat: repeat-y;
	min-height: 100px;
	padding: 0 40px;
}

.pagination {
	display: inline-block;
	line-height: 24px;
	width: 100%;
	margin: 12px 0 0;
	text-align: center;
}
.pagination > ul {
	display: inline-block;
	list-style: none;
 *width: 330px;
	margin: 0;
	padding: 0;
}
.pagination > ul li {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0 2px;
}
.pagination > ul li a {
	color: #9b8d84;
	padding: 5px;
	text-decoration: none;
}
.pagination > ul li a:hover, .pagination > ul li.selected a {
	color: #fc6700;
}
.pagination > ul li.last a {
	color: #f1aa00;
}

.archives {
	list-style: none;
	margin: 0;
	padding: 18px 0;
}
.archives > li {
	cursor: pointer;
	border-top: 1px solid #e5e5e5;
    padding: 5px;
}
.archives > li:first-child {
	border-top: 0;
}
.archives ul {
	display: none;
	list-style: none;
	border-top: 1px solid #e5e5e5;
	margin: 0;
	padding: 12px 0;
}
.archives ul li a {
	color: #9b8d84;
	display: block;
	font: 12px/24px Arial, Helvetica, sans-serif;
	padding-left: 20px;
	text-decoration: none;
}
.archives ul li a:hover {
	color: #fc6700;
}
.archives > li ul {
	display: none;
}
.archives > li:hover ul {
	background-position: right bottom;
	color: #fc6700;
	display: block;
}

.year span {
    color: #f1aa00;
    margin-bottom: 10px;
}

.year span:hover {
    color: #fc6700;
}